<ul uk-tab class="uk-child-width-1-2">
  <li>
    <LinkTo @route="scopes.edit.index" @model={{this.model}} data-test-scopes-edit-index-link>
      {{t "emeis.scopes.edit.edit-scope"}}
    </LinkTo>
  </li>

  <li>
    <LinkTo @route="scopes.edit.acl" @model={{this.model}} data-test-scopes-edit-acl-link>
      {{t "emeis.scopes.edit.acl.title"}}
    </LinkTo>
  </li>
</ul>
{{outlet}}
