<tbody ...attributes>
  {{#each @models as |model|}}
    {{yield (hash model=model row=(component "data-table/body/row"))}}
  {{else}}
    <td colspan="99" class="uk-padding-large uk-animation-fade">
      <UkFlex
        @direction="column"
        @horizontal="center"
        @vertical="middle"
        class="uk-height-large"
      >
        <UkIcon
          @ratio="5"
          @icon={{or @emptyIcon "search"}}
          class={{if
            @emptyIconColor
            (concat "uk-text-" @emptyIconColor)
            "uk-margin-bottom"
          }}
          data-test-loading
        />
        <span>
          {{#if @emptyWarning}}
            {{@emptyWarning}}
          {{else}}
            {{t "emeis.empty"}}
          {{/if}}
        </span>
      </UkFlex>
    </td>
  {{/each}}
</tbody>