<div class="uk-flex uk-flex-right uk-width-1">
  <form
    class="uk-search uk-search-default uk-width-1-3@m uk-width-2-3@s search-input-form"
    {{on "submit" this.updateSearch}}
    {{on "reset" this.resetSearch}}
  >
    <input
      name="search"
      class="uk-search-input"
      type="search"
      value={{this.search}}
      placeholder={{t "emeis.search.placeholder"}}
      data-test-search-input
      />
    <button
      type="submit"
      class="uk-search-icon"
      uk-search-icon
      data-test-search-submit
    ></button>
    {{#if this.search}}
      <button
        type="reset"
        class="uk-search-icon search-reset-icon" uk-icon="close"
        data-test-search-reset
      />
    {{/if}}
  </form>
</div>

<table
  class="uk-table uk-table-striped"
  ...attributes
>

  {{#if this.isLoading}}
    {{yield (hash
        head=(component "data-table/head" sortedBy=this.sort update=this.updateSort includes=this.included)
      )
    }}
    <tbody data-test-loading>
      <tr>
        <td colspan="99" class="uk-padding-large uk-animation-fade uk-text-center">
          <UkSpinner @ratio="1" />
        </td>
      </tr>
    </tbody>
  {{else}}
    {{yield
      (hash
        body=(component "data-table/body" models=this.data.value includes=this.included)
        head=(component "data-table/head" sortedBy=this.sort update=this.updateSort includes=this.included)
        refresh=(perform this.fetchData)
      )
    }}
    <tfoot>
      <tr>
        <td colspan="99">
          <ul class="uk-pagination uk-flex uk-flex-between" uk-margin>
            <li
              class={{unless this.previousPage "uk-disabled"}}
              data-test-previous-page
            >
              <button
                type="button"
                class="no-style-button"
                {{on "click" (fn this.updatePage this.previousPage)}}
              >
                <span
                  class="uk-margin-small-right"
                  uk-pagination-previous
                ></span>
                {{t "emeis.pagination.previous"}}
              </button>
            </li>
            {{#if this.numPages}}
              <li class="uk-active">
              <span data-test-page>
                {{this.page}} / {{this.numPages}}
              </span>
              </li>
            {{/if}}
            <li
              class={{unless this.nextPage "uk-disabled"}}
              data-test-next-page
            >
              <button
                type="button"
                class="no-style-button"
                {{on "click" (fn this.updatePage this.nextPage)}}
              >
                {{t "emeis.pagination.next"}}
                <span class="uk-margin-small-left" uk-pagination-next></span>
              </button>
            </li>
          </ul>
        </td>
      </tr>
    </tfoot>
  {{/if}}
</table>
