<form
  class="uk-form-stacked"
  {{did-insert (set this.form)}}
  {{on "submit" (perform this.save)}}
>
  {{yield}}

  <div class="uk-flex uk-flex-left uk-margin">
    {{#if this.customComponent}}
      {{#let (component (ensure-safe-component this.customComponent)) as |CustomComponent|}}
        <CustomComponent @model={{@model}} />
      {{/let}}
    {{/if}}
  </div>

  <div class="uk-flex uk-flex-right uk-margin">
    {{#if (and this.modelHasActiveState this.canChangeActiveState)}}
      <UkButton
        @loading={{this.toggleActiveState.isRunning}}
        @disabled={{this.toggleActiveState.isRunning}}
        class="uk-margin-right uk-button-default"
        data-test-toggle-active
        @onClick={{perform this.toggleActiveState}}
      >
        {{or (optional-translate this.deactivateLabelOverride) (t (concat "emeis.form." (if @model.isActive "deactivate" "activate")))}}
      </UkButton>
    {{/if}}

    {{#if (and (not @disableDelete) (not @model.isNew) this.canDeleteModel)}}
      <UkButton
        @loading={{this.delete.isRunning}}
        @disabled={{this.delete.isRunning}}
        class="uk-margin-right uk-button-danger"
        data-test-delete
        @onClick={{perform this.delete}}
      >
        {{or (optional-translate this.deleteLabelOverride) (t "emeis.form.delete")}}
      </UkButton>
    {{/if}}

    <UkButton
      @loading={{this.save.isRunning}}
      @disabled={{this.save.isRunning}}
      @color="primary"
      @type="submit"
      data-test-save
    >
      {{t "emeis.form.save"}}
    </UkButton>
  </div>
</form>
