<li class="{{if (and (not @flat) @item.children.length 0) 'childless'}}">
  {{#if (and (not @flat) @item.children)}}
    <UkButton class="tree-node-icon" @color="link" {{on "click" this.toggle}}>
      <UkIcon @icon={{if (or (includes @item.id @expandedItems) this.expanded) "chevron-down" "chevron-right"}} />
    </UkButton>
  {{/if}}
  <LinkTo @route={{@itemRoute}} @model={{@item}} class="uk-link-text">
    {{@item.name}}{{#if (gt @item.children.length 0)}} ({{@item.children.length}}){{/if}}
  </LinkTo>
  {{#if (and (not @flat) (or (includes @item.id @expandedItems) (and this.expanded @item.children)))}}
    <ul class="tree">
      {{#each (sort-by "name" @item.children) as |child|}}
        <TreeNode
          @item={{child}}
          @itemRoute={{@itemRoute}}
          @activeItem={{@activeItem}}
          @expandedItems={{@expandedItems}}/>
      {{/each}}
    </ul>
  {{/if}}
</li>