<DataTable
  @modelName="user"
  @page={{this.page}}
  @search={{this.search}}
  @sort="last_name"
  @updatePage={{fn this.updateQueryParam "page"}}
  @updateSearch={{fn this.updateQueryParam "search"}} as |table|
>
  <table.head>
    {{#unless this.emailAsUsername}}
      <th>
        {{t "emeis.users.headings.username"}}
      </th>
    {{/unless}}
    <th>
      {{t "emeis.users.headings.lastName"}}
    </th>
    <th>
      {{t "emeis.users.headings.firstName"}}
    </th>
    <th>
      {{t "emeis.users.headings.email"}}
    </th>
  </table.head>
  <table.body as |body|>
    <body.row>
      {{#let body.model as |user|}}
        {{#if this.emailAsUsername}}
          <td>
            <LinkTo @route="users.edit" @model={{user}} class="uk-link-text">
              {{user.lastName}}
            </LinkTo>
          </td>
          <td>{{user.firstName}}</td>
        {{else}}
          <td data-test-user-username={{user.id}}>
            <LinkTo @route="users.edit" @model={{user}} class="uk-link-text">
              {{user.username}}
            </LinkTo>
          </td>
          <td>{{user.lastName}}</td>
          <td>{{user.firstName}}</td>
        {{/if}}

        <td data-test-user-email={{user.id}}>
          {{user.email}}
        </td>
      {{/let}}
    </body.row>
  </table.body>
</DataTable>
