<DataTable
  @modelName="user"
  @page={{this.page}}
  @search={{this.search}}
  @defaultSort="last_name"
  @updatePage={{fn this.updateQueryParam "page"}}
  @updateSearch={{fn this.updateQueryParam "search"}}
  @updateSort={{fn this.updateQueryParam "sort"}}
  @include={{array "acls.role" "acls.scope"}}
  as |table|
>
  <table.head as |Column|>
    {{#unless this.emailAsUsername}}
      <Column @sort="username">
        {{t "emeis.users.headings.username"}}
      </Column>
      {{/unless}}
    <Column @sort="last_name">
      {{t "emeis.users.headings.lastName"}}
    </Column>
    <Column @sort="first_name">
      {{t "emeis.users.headings.firstName"}}
    </Column>
    <Column @sort="email">
      {{t "emeis.users.headings.email"}}
    </Column>
    <Column>
      {{t "emeis.roles.title"}}
    </Column>
    <Column>
      {{t "emeis.scopes.title"}}
    </Column>
  </table.head>
  <table.body as |body|>
    <body.row>
      {{#let body.model as |user|}}
        {{#if this.emailAsUsername}}
          <td>
            <LinkTo @route="users.edit" @model={{user}} class="uk-link-text">
              {{user.lastName}}
            </LinkTo>
          </td>
          <td>{{user.firstName}}</td>
        {{else}}
          <td data-test-user-username={{user.id}}>
            <LinkTo @route="users.edit" @model={{user}} class="uk-link-text">
              {{user.username}}
            </LinkTo>
          </td>
          <td>{{user.lastName}}</td>
          <td>{{user.firstName}}</td>
        {{/if}}

        <td data-test-user-email={{user.id}}>
          {{user.email}}
        </td>
        <td>
          <ul class="uk-list uk-list-divider">
            {{#each user.acls as |acl|}}
              <li>
                {{#if this.linkToRole}}
                  <LinkTo @route="roles.edit" @model={{acl.role}} class="uk-link-text">
                    {{acl.role.name}}
                  </LinkTo>
                {{else}}
                  {{acl.role.name}}
                {{/if}}
              </li>
            {{else}}
            -
            {{/each}}
          </ul>
        </td>
        {{!-- SCOPES --}}
        <td>
          <ul class="uk-list uk-list-divider">
            {{#each user.acls as |acl|}}
              <li>
                {{#if this.linkToScope}}
                  <LinkTo @route="scopes.edit" @model={{acl.scope}} class="uk-link-text">
                    {{acl.scope.fullName}}
                  </LinkTo>
                {{else}}
                    {{acl.scope.fullName}}
                {{/if}}
              </li>
            {{else}}
            -
            {{/each}}
          </ul>
        </td>
      {{/let}}
    </body.row>
  </table.body>
</DataTable>
