<div class="uk-padding uk-overflow-auto">
  <Nav>
    <Nav::Item @route="users" data-test-nav-users>
      {{t "emeis.users.title"}}
    </Nav::Item>
    <Nav::Item @route="scopes" data-test-nav-scopes>
      {{t "emeis.scopes.title"}}
    </Nav::Item>
    <Nav::Item @route="roles" data-test-nav-roles>
      {{t "emeis.roles.title"}}
    </Nav::Item>
    <Nav::Item @route="permissions" data-test-nav-permissions>
      {{t "emeis.permissions.title"}}
    </Nav::Item>
  </Nav>

  {{outlet}}
</div>
